/** fuentes primero **/

@font-face {
    font-family: 'Neue Haas Grotesk';
    font-style: normal;
    font-weight: 400;
    src:
      local("Open Sans"),
      url("./../assets/fonts/NHaasGroteskDSPro-55Rg.woff2") format("woff2"),
      url("./../assets/fonts/NHaasGroteskDSPro-55Rg.woff") format("woff"),
      url("./../assets/fonts/NHaasGroteskDSPro-55Rg.ttf") format("truetype");
  }

  @font-face {
    font-family: 'Neue Haas Grotesk';
    font-style: medium;
    font-weight: 600;
    src:
      local("Open Sans"),
      url("./../assets/fonts/NHaasGroteskDSPro-65Md.woff2") format("woff2"),
      url("./../assets/fonts/NHaasGroteskDSPro-65Md.woff") format("woff"),
      url("./../assets/fonts/NHaasGroteskDSPro-65Md.ttf") format("truetype");
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Neue Haas Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.font-90 {
    font-size: 90px;
    line-height: 90px;
}

.font-60 {
    font-size: 60px;
    line-height: 64px;
}

.font-28 {
    font-size: 28px;
    line-height: 32px;
}

/** Main Header **/

.header-index {
    display:flex;
    width: 100%;
    height: 64px;
    justify-content: space-between;
    padding: 0px 16px;
    align-items: center;
    position: fixed;
    z-index: 50;
}

.header-index a {
    text-decoration: none;
    font-size: 16px;
    line-height: 32px;
    color: black;
}

.nav-container {
    display: flex;
    gap: 32px;
}

.navbar {
    display: flex;
    list-style: none;
    gap: 16px;
}

.navbar li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 32px;
    color: black;
}

.header-bag {

}

.header-bag a {
    text-decoration: none;
    font-size: 16px;
    line-height: 32px;
    color: black;
}

/** Herospace **/

.herospace-index {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-image: url("./../assets/img/herospace_index.webp");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    color: white;
    padding-left: 10%;
    padding-bottom: 10%;
    position: sticky;
    margin-top: 0;
    z-index: 10;
}   

.menu-bg {
    width: 100%;
    height: 64px;
    background-color: #ffffff5d;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1;
}

/** Main **/

.main-container {
    z-index: 0;
}

/** Trend Products **/

.trend-products {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 136px;
    gap: 16px;
}

.trend-info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "season year . link"
    ;
    padding: 0 16px;
    gap: 16px;
}

.season {
    grid-area: season;
}

.year {
    display: flex;
    justify-content: flex-end;
    grid-area: year;
}

.trend-products a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #000000;
    text-decoration: none;
    line-height: 32px;
    grid-area: link;
}

.cards {
    width: 100%;
    display: flex;
    padding: 0 16px;
    gap: 16px;
}

.trend-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.trend-card img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 4px;
    border: 1px solid #000;
}