/** fuentes primero **/

@font-face {
    font-family: 'Neue Haas Grotesk';
    font-style: normal;
    font-weight: 400;
    src:
      local("Open Sans"),
      url("./../assets/fonts/NHaasGroteskDSPro-55Rg.woff2") format("woff2"),
      url("./../assets/fonts/NHaasGroteskDSPro-55Rg.woff") format("woff"),
      url("./../assets/fonts/NHaasGroteskDSPro-55Rg.ttf") format("truetype");
  }

  @font-face {
    font-family: 'Neue Haas Grotesk';
    font-style: medium;
    font-weight: 600;
    src:
      local("Open Sans"),
      url("./../assets/fonts/NHaasGroteskDSPro-65Md.woff2") format("woff2"),
      url("./../assets/fonts/NHaasGroteskDSPro-65Md.woff") format("woff"),
      url("./../assets/fonts/NHaasGroteskDSPro-65Md.ttf") format("truetype");
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Neue Haas Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

/** Font System **/

.font-188 {
    font-size: 188px;
    line-height: 152px;
}

.font-90 {
    font-size: 90px;
    line-height: 90px;
}

.font-60 {
    font-size: 60px;
    line-height: 64px;
}

.font-28 {
    font-size: 28px;
    line-height: 32px;
}

.font-20 {
    font-size: 20px;
    line-height: 24px;
}

.font-14 {
    font-size: 14px;
    line-height: 16px;
}

/** Color System **/

.bg-aphnblue {
    background-color: #1D79FF;
}

.bg-aphnyellow {
    background-color: #ECE870;
}

.bg-lime {
    background-color: #DCEAB9;
}

.bg-olive {
    background-color: #605747;
}

.bg-bedge {
    background-color: #d7d8d5;
}

.bg-black-p {
    background-color: #1A1B1D;
}

.bg-red {
    background-color: #D84B35;
}

.bg-marine-blue {
    background-color: #37526F;
}

.bg-green {
    background-color: #017F71;
}

.bg-silver {
    background-color: #C9CBC6;
}

.clr-aphnblue {
    color: #ECE870;
}

.clr-aphnyellow {
    color: #1D79FF;
}

.clr-lightgray {
    color: #F1F1F1;
}

/** Main Header **/

.header-index {
    display:flex;
    width: 100%;
    height: 64px;
    justify-content: space-between;
    padding: 0px 16px;
    align-items: center;
    position: fixed;
    z-index: 50;
}

.header-index a {
    text-decoration: none;
    font-size: 16px;
    line-height: 32px;
    color: black;
}

.nav-container {
    display: flex;
    gap: 32px;
}

.navbar {
    display: flex;
    list-style: none;
    gap: 16px;
}

.navbar li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 32px;
    color: black;
}

.header-bag {

}

.header-bag a {
    text-decoration: none;
    font-size: 16px;
    line-height: 32px;
    color: black;
}

/** Subnav **/

.sub-container {
    width: auto;
    position: fixed;
    left: 50%;
    bottom: 16px;
    visibility: visible;
    transform: translate(-50%, 0px);
    z-index: 100;
}

.sub-container ul {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
    padding: 16px 24px;
    border-radius: 16px;
    background: rgba(195, 210, 232, 0.60);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.03), 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
}

.sub-container ul li {
    display: flex;
    gap: 4px;
    align-items: center;
    list-style: none;
}

.sub-container ul li a {
    color: #000;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.submenu-active {
    width: 12px;
    height: 12px;
    background-color: #1D79FF;
    border-radius: 10px;
}


/** Herospace **/

.herospace-index {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-image: url("./../assets/img/herospace_index.webp");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    color: white;
    padding-left: 10%;
    padding-bottom: 10%;
    position: sticky;
    margin-top: 0;
    z-index: 10;
}   

.menu-bg {
    width: 100%;
    height: 64px;
    background-color: #ffffff5d;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1;
}

/** Main **/

.main-container {
    z-index: 0;
}

/** Trend Products **/

.trend-products {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 136px 0px;
    gap: 16px;
}

.trend-info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "season year . link"
    ;
    padding: 0 16px;
    gap: 16px;
}

.season {
    grid-area: season;
}

.year {
    display: flex;
    justify-content: flex-end;
    grid-area: year;
}

.trend-products a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #000000;
    text-decoration: none;
    line-height: 32px;
    grid-area: link;
}

.cards {
    width: 100%;
    display: flex;
    padding: 0 16px;
    gap: 16px;
}

.trend-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.trend-card img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 4px;
    border: 1px solid #000;
}

.product-name {
    display: flex;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    font-size: 14px;
    line-height: 16px;
    padding: 4px 10px;
    border-radius: 20px;
    border: 1px solid #000;
}

.product-color {
    width: 24px;
    height: 24px;
    border-radius: 20px;
    border: 2px solid #F1F1F1;
}

/** Archive Section **/

.archive-container {
    width: 100%;
    height: 1328px;
    background-color: #ECE870;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 16px;
    padding: 0px 16px;
    padding bottom: 136px;
    grid-template-areas:
    "title title title title title title title title . brand brand brand"
    "title title title title title title title title . brand brand brand"
    ". . . . . . . . . . . ."
    ". . season season . . version version version version . ."
    "subtitle subtitle . . tagline tagline collection collection collection collection . ."
    "subtitle subtitle . . . . thumb thumb thumb thumb . ."
    "subtitle subtitle . . . . thumb thumb thumb thumb . ."
    "subtitle subtitle . . . . thumb thumb thumb thumb . ."
    "subtitle subtitle btxt btxt btxt btxt thumb thumb thumb thumb . ."
    "subtitle subtitle btxt btxt btxt btxt thumb thumb thumb thumb . ."
    "subtitle subtitle cta cta cta cta thumb thumb thumb thumb . ."
    "subtitle subtitle . . . . . . . . . ."
    ;
}

.title-archive {
    grid-area: title;
    display: flex;
    align-items: flex-end;
}

.brand-archive {
    grid-area: brand;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.season-archive {
    grid-area: season;
}

.version-archive {
    grid-area: version;
    line-height: 72px;
}

.subtitle-archive {
    grid-area: subtitle;
    line-height: 72px;
    display:flex;
    /** Rotation */
    writing-mode: vertical-lr;
}

.tagline-archive {
    grid-area: tagline;
}

.collection-archive {
    grid-area: collection;
}

.archive-container img {
    grid-area: thumb;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.text-archive {
    grid-area: btxt;
    display: flex;
    align-items: flex-end;
}

.cta-archive {
    grid-area: cta;
    display: flex;
    align-items: flex-end;
}

.cta-archive a {
    display: inline-block;
    color: #000000;
    text-decoration: none;
}

/** Collection Tops Section **/

.collection-tops {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 136px 0px;
}

.tops-info {
    width: 100%;
    display: flex;
    padding: 0px 16px;
    justify-content: space-between;
    align-items: flex-end;
}

.tops-cards {
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-top: 1px solid #000;
}

.tops-card {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tops-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 0px 4px 4px;
}

.tops-card-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 16px;
}

.tops-card-alt {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 96px 0px;
}

.tops-card-alt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 0px 4px 4px;
}

/** Footer **/

.footer-index {
    width: 100%;
    height: 384px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
    padding: 32px 16px;
    background: var(--UI-Color-OFF-White, #FFF);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05) inset;
    grid-template-areas:
    "ten ten quote quote quote quote . . . . aphn aphn"
    ". . . . . . . . . . aphn aphn"
    ". . . . . . . . . . . ."
    "menu1 menu1 menu2 menu2 menu3 menu3 . . nslr nslr nslr nslr"
    "copyr copyr copyr copyr . . . . privacy privacy privacy privacy"
    ;
}

.ten {
    grid-area: ten;
    display: flex;
    align-items: flex-start;
}

.quote {
    grid-area: quote;
    display: flex;
    align-items: flex-start;
}

.footer-index img {
    grid-area: aphn;
    display: flex;
    justify-self: end;
    align-items: flex-end;
}

.menu-1 {
    grid-area: menu1;
    display: flex;
    align-items: flex-start;
}

.menu-2 {
    grid-area: menu2;
    display: flex;
    align-items: flex-start;
}

.menu-3 {
    grid-area: menu3;
    display: flex;
    align-items: flex-start;
}

.menu-f {
    display: flex;
    flex-direction: column;
}

.menu-f li {
    list-style: none;
}

.menu-f li a {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #000;
}

.newsletter-f {
    width: 238px;
    grid-area: nslr;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.newsletter-f p {
    font-size: 14px;
    line-height: 16px;
}

.newsletter-f div {
    display: flex;
    justify-content: space-between;
}

input[type=text] {
    color: #000;
    border: 0px solid #ffffff;
}

input[type=submit] {
    color: #000;
    font-size: 14;
    line-height: 16px;
    background-color: #ffffff;
    border: 0px solid #ffffff;
}

::placeholder {
    color: #A1A1A1;
    border-style: none;
}

:focus {
    border: 0px solid #ffffff;
    border-radius: 0px;
}

.copyright {
    grid-area: copyr;
    display: flex;
    align-items: flex-end;
}

.privacy {
    grid-area: privacy;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.privacy a {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #000;
}
